# Database
DATABASE_URL=

# Discord Bot
BOT_TOKEN=
GUILD_ID=

# Founder/Admin Control
FOUNDER_IDS=

# Ascension Phase Control
CURRENT_PHASE=1

# Safety Flags
ALLOW_GLOBAL_RESET=false
STRICT_ECONOMY=false
ADMIN_MODE=dev
HEDERA_NETWORK=testnet
HEDERA_OPERATOR_ID=
HEDERA_OPERATOR_PRIVATE_KEY=
HEDERA_TOKEN_ID=
HEDERA_OPERATOR_KEY_TYPE=ECDSA
